Get-CimInstance Win32_Process |
Where-Object {
    $_.CommandLine -match "{{ capture_server }}"
} |
ForEach-Object {
    $proc = $_
    $uptime = (Get-Date) - $proc.CreationDate
    [PSCustomObject]@{
        ProcessId       = $proc.ProcessId
        Name            = $proc.Name
        CreationDate    = $proc.CreationDate
        UptimeDays      = [math]::Floor($uptime.TotalDays)
        UptimeHours     = $uptime.Hours
        UptimeMinutes   = $uptime.Minutes
        UptimeSeconds   = $uptime.Seconds
        UptimeFormatted = "{0}d {1}h {2}m {3}s" -f [math]::Floor($uptime.TotalDays), $uptime.Hours, $uptime.Minutes, $uptime.Seconds
        JavaCommand     = $proc.CommandLine
    }
} |
Format-List

Get-CimInstance Win32_Process |
Where-Object {
    $_.CommandLine -match "{{ capture_server }}"
} |
Select-Object `
    ProcessId,
    ParentProcessId,
    CreationDate,
    CommandLine,
    WorkingSetSize